.heading {
  padding: 0.4rem;
  font-size: 1.5rem;
}

.latestProducts {
  display: inline-flex;
  flex-direction: row;
  flex: 30%;
  flex-grow: 0;
  justify-content: space-between;
}

.categoryList,
.productList {
  margin: 1.3rem 0;
}

.categoryItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 0;
  /* justify-content: space-between; */
}

.flexItem {
  width: 190px;
  margin: 2px 5px 0 5px;
}

.flexItem:hover {
  transform: translateY(-10px);
}

.productList {
  overflow-x: scroll;

  border-radius: 10px;
}

.categoryList {
  overflow: hidden;
}

.latest,
.category {
  margin: 1rem 0;

  border: 10px;
  border-radius: 10px 10px 0 0;
}

.latest .heading,
.womenFashion .heading,
.phonesEtc .heading {
  background-color: #f9813a;
  color: white;
  border-radius: 10px 10px 0 0;
}

.category .heading,
.kidFashion .heading {
  background-color: black;
  border-radius: 10px 10px 0 0;
  color: white;
}

/* .productList::-webkit-scrollbar,
.categoryList::-webkit-scrollbar {
  display: none;
} */

.flexItem > div {
  border: none;
  padding: 0 !important;
}
@media (min-width: 320px) and (max-width: 600px) {
  .flexItem {
    flex: 45%;
    flex-grow: 0;
  }
}
