.heading {
  padding: 0.4rem;
  font-size: 1.5rem;
  background-color: #1a1a1a;
  color: white;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}

.heading a {
  color: white !important;

  font-weight: bold;
}

.latestProducts {
  display: inline-flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: flex-start;
}

.categoryList,
.productList {
  margin-bottom: 2rem;
}

.categoryItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: flex-start;
  padding: 0 20px;
}

.searchItems {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 0;
  /* justify-content: space-between; */
}

.searchItem {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.searchItem > div {
  width: 200px;
  border: none;
}
.flexItem {
  width: 165px;
  margin: 10px;
}

.flexItem img {
  object-fit: contain;
  height: 170px;
  width: 100%;
}

.flexItem :hover {
  transform: scale(1.03);
}
.productList {
  overflow-x: scroll;

  border-radius: 10px;
}

.categoryList {
  overflow: hidden;
}

.category {
  margin: 1rem 1rem;
  background-color: white !important;
  border: 10px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.3);
}

/* .productList::-webkit-scrollbar,
.categoryList::-webkit-scrollbar {
  display: none;
} */

.right {
  text-align: right;
}
.flexItem > a > div {
  border: none;
  padding: 0 !important;
}

.flexItem > a:hover {
  text-decoration: none;
}
.campaign {
  width: 90%;
  margin: 10px;
}

.container {
  background-color: #f4f4f4;
  padding-bottom: 40px;
}
@media (min-width: 320px) and (max-width: 600px) {
  .flexItem {
    width: 130px;
    margin: 5px;
  }

  .categoryItems {
    justify-content: space-between;
    padding: 0px;
  }
}

@media (min-width: 600px) and (max-width: 769px) {
  .flexItem {
    width: 145px;
  }

  .categoryItems {
    padding: 0px;
    justify-content: space-between;
  }
}
