.heading {
  padding: 0.4rem;
  font-size: 1.5rem;
}

.categoryList,
.productList {
  margin: 1.3rem 0;
}

.categoryItems {
  display: inline-flex;
  flex-direction: row;
}

.categoryItems .flexItem {
  width: 200px;
  margin: 10px 15px;
}
.productList {
  overflow-x: scroll;

  border-radius: 10px;
}

.categoryList {
  overflow-x: scroll;
}

.latest,
.category {
  margin: 1rem 0;
  background-color: whitesmoke;
  border: 10px;
  border-radius: 10px 10px 0 0;
}

.latest .heading {
  background-color: orangered;
  color: white;
  border-radius: 10px 10px 0 0;
}

.category .heading {
  background-color: black;
  border-radius: 10px 10px 0 0;
  color: white;
}
.latestProducts {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 25px;
}

.womenFashion .heading {
  background-color: rgb(124, 13, 69);
  border-radius: 10px 10px 0 0;
  color: white;
}

/* .productList::-webkit-scrollbar,
.categoryList::-webkit-scrollbar {
  display: none;
} */
.productList .flexItem {
  margin: 15px;
  width: 200px;
}
.flexItem > div {
  border: none;
  padding: 0 !important;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3);
}
@media (min-width: 320px) and (max-width: 600px) {
  .flexItem {
    flex: 30%;
    width: 170px;
  }
  .productList::-webkit-scrollbar {
    display: none;
  }
}
