.icon {
  color: black;
  font-size: 1.2rem;
  margin: 0 10px;
}

header {
  width: 100%;
  padding: 10px;
  z-index: 1;
  background-color: white !important;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3);
}
.main-nav {
  background-color: white !important;
}

.nav-link {
  color: black !important;
  font-size: 1rem;
}
.logo {
  width: 40px;
}

.nav-dropdown {
  color: black;
}

.secondary-nav {
  text-align: right;
}

@media screen and (min-width: 992px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .desktop-only {
    display: none;
  }
}
