.icon {
  color: black;
  font-size: 1.2rem;
}

header {
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.3);
}
.main-nav {
  margin: 0 !important;
  outline: none;
}

.nav-link {
  color: black !important;
  font-size: 1rem;
}
.logo {
  width: 40px;
}

.nav-dropdown {
  color: black;
}

.secondary-nav {
  text-align: right;
}

@media screen and (min-width: 992px) {
  .nav-mobile {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .nav-desktop {
    display: none;
  }
}
