.text-center {
  text-align: center !important;
}

body {
  background-color: #f4f4f4 !important;
}
.app {
  min-height: 90vh;
  padding-top: 80px;
}

* {
  margin: 0;
}
footer {
}

.form-control {
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 991px) {
  .app {
    padding-top: 130px;
  }
}
