.bold {
  font-weight: bold;
  font-size: 1rem;
}

.disabled {
  color: grey !important;
}

.active {
  color: #f8e825;
}

.rating span {
  margin: 0.05rem;
}

@media (min-width: 320px) and (max-width: 600px) {
  .rating {
    font-size: 0.85rem;
  }
}
